@mixin display-flex {
  display: flex;
  align-items: center;
}

@mixin search-style {
  background-color: rgba(255, 255, 255);
  backdrop-filter: blur(10px);

  border-radius: 20px;
  border: none;
  outline:none;

  height: 2rem;
  padding: 0 15px;

  font-size: 14px;
  color: #8C8C8C;
}

@mixin icon {
  width: auto;
  cursor: pointer;
}

.search {
  @include display-flex;
  justify-content: space-between;

  .search-input {
    @include display-flex;

    input[type='search'] {
      @include search-style;
      width: 15rem;
    }

    .icon-search {
      @include icon;
      height: 2rem;
    }
  }

  .search-select {
    @include display-flex;
    justify-content: space-between;
    width: 14rem;

    label {
      margin-right: 0.5rem;
    }

    .dropdown-wrapper {
      @include display-flex;
      justify-content: center;
      position: relative;
      user-select: none;

      .dropdown {
        @include search-style;
        appearance: none;
        width: 8rem;
        cursor: pointer;
      }
      .dropdown-icon {
        position: absolute;
        right: 15px;
        top: 0.5rem;

        color: #8C8C8C;

        @include display-flex;
        justify-content: center;

        pointer-events: none;
      }
    }

    .icon-order {
      @include display-flex;
      @include icon;
      height: 1.75rem;
    }
  }
}