.search-input {
  display: flex;

  input[type='search'] {
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: none;
    outline:none;

    width: 15rem;
    height: 2rem;
    padding: 0 15px;
  }
  .icon {
    height: 2rem;
    width: auto;

    &:hover{
      cursor: pointer;
    }
  }
}