.table-wrapper {
  padding: 5px 0 5px 10px;
  border-radius: 20px;

  background: rgba(248, 249, 252, 0.8);
  box-shadow: 0 2px 14px 5px rgba(86, 96, 117, 0.2);

  max-width: 1200px;
  width: 100%;

  // настроим высоту окна, чтобы не приходилось листать далеко вниз
  max-height: calc(100vh - 60px); // вычитаем padding (TableUsersPage.scss .container) из высоты окна
  height: auto; // высота автоматически подстраивается под содержимое

  overflow: auto;

  .table-user {
    width: 100%;
    display: grid;
    grid-template-columns:
      minmax(100px, 2fr)
      minmax(100px, 1fr)
      minmax(100px, 1fr)
      minmax(100px, 2fr)
      minmax(100px, 2fr);

    thead,
    tbody,
    tr {
      display: contents;
    }

    tbody tr:hover {
      background: radial-gradient(rgba(247, 248, 255, 1), rgba(255, 255, 255, 0.7));
    }

    th {
      position: relative;
      font-size: 18px;
    }

    th,
    td {
      text-align: left;
      padding: 16px 20px;
      min-width: 50px;
    }

    th span,
    td span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }

    tr:hover {
      background: white;
    }

    tr td {
      border-top: 1px solid #b7b9c0;
      cursor: pointer;
    }

    .resize-handle {
      display: block;
      position: absolute;
      cursor: col-resize;
      width: 7px;
      right: 0;
      top: 0;
      border-right: 2px solid #eaeaea;

      &:hover {
        border-color: #c6c6cd;
      }

      &.active {
        border-color: #5157a5;
      }
    }

  }
}
