.table-wrapper {
  padding: 5px 0 5px 10px;

  max-width: 1200px;
  height: 100%;

  overflow: auto;

  .table-user {
    width: 100%;
    display: grid;
    grid-template-columns:
      minmax(100px, 2fr)
      minmax(100px, 1fr)
      minmax(100px, 1fr)
      minmax(100px, 2fr)
      minmax(100px, 2fr);

    thead,
    tbody,
    tr {
      display: contents;
    }

    th {
      position: relative;
      font-size: 18px;
    }

    th,
    td {
      text-align: left;
      padding: 16px 20px;
      min-width: 50px;
    }

    th span,
    td span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }

    tr td {
      border-top: 1px solid #fff;
      cursor: pointer;
    }

    .resize-handle {
      display: block;
      position: absolute;
      cursor: col-resize;
      width: 7px;
      right: 0;
      top: 0;
      //z-index: 1;
      border-right: 2px solid #ffffff;

      &:hover {
        border-right: 3px solid #ffffff;
      }

      &.active {
        border-right: 3px solid #ffffff;
      }
    }

  }
}
