// обнуление стилей
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    height: 100vh;
    background-color: #EEEEEE;
    background-size: cover;
  }
}

:root {
  //--colorLight: 255, 255, 255;
  //--colorDark: 14, 33, 14;
  //--colorMedium: 107,242,111;
  //--colorAccent: 253, 90, 47;
  //color: #0e210e;
}