// обнуление стилей
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    height: 100%;
    background: linear-gradient(45deg, #f2f6ff, #eef1f5);
  }
}

:root {
  --colorLight: 242, 244, 254;
  --colorDark: 21, 7, 59;
  --colorMedium: 189, 190, 199;
  --colorAccent: 72, 25, 204;
}

